<!-- /partials/nav.html -->
<ul>
  <div class="left-menu">
    <li><a class="active" href="/about.html">NICE GLUE</a></li>
    <li><a href="/index.html">ALL PROJECT</a></li>
    <li class="category-group">(</li>
    <li class="category-group"><a href="/index.html?category=book">책</a></li>
    <li class="category-group"><a href="/index.html?category=poster">포스터</a></li>
	<li class="category-group"><a href="/index.html?category=identity">아이덴티티/브랜딩</a></li>
	<li class="category-group"><a href="/index.html?category=product">제품</a></li>
  <li class="category-group">)</li>
  


<!--     <li><a href="#" data-filter="book">BOOK</a></li>
	<li><a href="#" data-filter="poster">POSTER</a></li>
	<li><a href="#" data-filter="identity">IDENTITY</a></li>
	<li><a href="#" data-filter="product">PRODUCT</a></li> -->
  </div>

  <div class="right-menu">
    
    <li><a href="/workshop.html">WORKSHOP</a></li>
    <li><a href="/shop.html">SHOP</a></li>
    <li><a href="/contact.html">CONTACT</a></li>
  </div>
</ul>
<div style="height:70px"></div>